<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="bg-zinc-800 h-screen flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-yellow-400 mb-6">login acc.</h1>
        <form action="/profile" method="get" class="bg-black p-6 rounded-xl shadow-md w-[40vw] ">
            <input class="shadow bg-gray-800 mb-2 appearance-none border border-gray-300 rounded w-full py-3 px-3 text-gray-200 leading-tight focus:outline-none focus:ring focus:ring-blue-500" type="email" placeholder="email" name="email" required>
            <input class="shadow bg-gray-800 mb-2 appearance-none border border-gray-300 rounded w-full py-3 px-3 text-gray-200 leading-tight focus:outline-none focus:ring focus:ring-blue-500" type="password" placeholder="pass.." name="password" required>
            <input type="submit" value="login" class="bg-green-500 hover:bg-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </form>
        <a href="/" class="fixed top-4 right-4 bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Create
        </a>
    </div>
    
</body>
</html>